@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

// color
$blue-system: #1a2e69;
$lightblue-system: #d1ecf1;
$lightyellow-system: #fff3cd;
$brown-system: #5a4226;
$red-system: #a10003;
$lightred-system: #ffc5c7;
$gray-system: #737373;
$lightgray-system: #e9e9e9;

body,
#app {
  font-family: 'Open Sans', sans-serif;
}

.is-width-100 {
  width: 100%;
}

.is-width-90 {
  width: 90%;
}

.is-width-80 {
  width: 80%;
}

.is-width-60 {
  width: 60%;
}

.is-width-50 {
  width: 50%;
}

.is-width-40 {
  width: 40%;
}

.is-width-10 {
  width: 10%;
}

.page {
  height: 100%;
  background-color: #f5f5f5;
}

.card-title {
  font-size: 24px;
  color: #4b4b4b;
}

.purple-default {
  background-color: #1a2e69 !important;
  color: white !important;
  transition: all 0.4s;
}

.red-default {
  background-color: #a10000 !important;
  color: white !important;
  transition: all 0.4s;
}

.gray-default {
  background-color: #e9e9e9;
}

.grid-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-50 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.col-100 {
  display: flex;
  flex-direction: column;
  width: 1000%;
}

.col-25 {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.col-15 {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.col-10 {
  display: flex;
  flex-direction: column;
  width: 10%;
}

.jc-start {
  justify-content: start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.mr-1em {
  margin-right: 1em;
}

.mt-3em {
  margin-top: 3em;
}

.mb-2em {
  margin-bottom: 2em;
}

.mb-1em {
  margin-bottom: 1em;
}

.border-table {
  border: 1px #e9e9e9 solid;
  border-radius: 5px;
}

.p-table {
  padding: 5px;
}

button {
  &.primary-btn {
    width: auto;
    background: linear-gradient(#335bd1, #1a2e69);
    border: none;
    padding: 0px 40px;
    color: white;
  }
}

.filter-row {
  label {
    padding: 0px 12px 0px 0px;

    input[type='checkbox'] {
      ~ span {
        &.checkbox {
          margin-right: 5px;
        }
      }
    }
  }
}

a.navbar-burger {
  &.burger {
    color: white;

    span {
      transition: all 0.3s;
    }
  }

  &.is-active {
    span {
      transition: all 0.3s;
    }
  }
}

.person-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  input[type='checkbox'] {
    width: 20px;
    height: 20px;
    visibility: hidden;
    opacity: 0;
    position: absolute;

    ~ span {
      &.checkbox {
        height: 20px;
        width: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 4px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.51);
        position: relative;

        &::after {
          content: '';
          height: 15px;
          width: 8px;
          display: flex;
          border-width: 0;
          justify-content: center;
          border-style: solid;
          transform: rotate(45deg);
          top: 0;
          position: absolute;
          transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) all 0.2s;
        }
      }
    }

    &:checked {
      ~ span {
        &.checkbox {
          &::after {
            border-width: 0px 3px 3px 0px;
            color: $blue-system;
            transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) all 0.2s;
          }
        }
      }
    }
  }
}

.navbar-item {
  a {
    color: white;

    span {
      color: white;
      font-weight: bolder;
    }
  }

  .navbar-link {
    font-weight: bolder;

    &:hover,
    &:focus,
    &:focus-within {
      background: none !important;
      color: white !important;
    }

    &:not(.is-arrowless)::after {
      border-color: white;
    }
  }

  &.is-active {
    .navbar-link {
      background: none !important;
    }
  }
}

.navbar-dropdown {
  a.navbar-item {
    color: $blue-system;
  }
}

.navbar-menu {
  &.is-active {
    position: absolute !important;
    width: 100%;
    text-align: left;

    .navbar-item {
      a {
        color: $blue-system;

        span {
          color: $blue-system;
          font-weight: bolder;
        }
      }
    }
  }
}

.b-table .table {
  border: 1px solid #dbdbdb !important;
  border-radius: 10px !important;
}

.personal-table {
  & td {
    padding: 0;

    @media screen and (max-width: 768px) {
      padding: 8px 12px;
    }

    > div {
      cursor: pointer;
      padding: 8px 12px;

      @media screen and (max-width: 768px) {
        padding: 0;
      }
    }
  }

  & tr {
    > th {
      background: $lightgray-system;

      &:nth-child(1) {
        border-top-left-radius: 10px;
      }

      &:last-child {
        border-top-right-radius: 10px;
      }
    }
  }
}

.modal-background {
  -webkit-backdrop-filter: blur(2px) !important;
  backdrop-filter: blur(2px) !important;
  background-color: rgba(12, 12, 12, 0.42) !important;
}

.b-checkbox {
  &.checkbox {
    margin: auto !important;

    @media screen and (max-width: 768px) {
      margin: unset !important;
    }

    input[type='checkbox'] {
      width: 20px;
      height: 20px;
      visibility: hidden;
      opacity: 0;
      position: absolute;

      + .check {
        background: white !important;
        width: 20px !important;
        height: 20px !important;
        border: none !important;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.51);

        &::after {
          content: '';
          height: 15px;
          width: 8px;
          display: flex;
          border-width: 0;
          justify-content: center;
          border-style: solid;
          transform: rotate(45deg);
          top: 0;
          position: absolute;
          left: 6px;
          transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) all 0.2s;
        }
      }

      &:checked {
        + .check {
          &::after {
            border-width: 0px 3px 3px 0px;
            color: $blue-system;
            transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) all 0.2s;
          }
        }
      }
    }
  }
}

.pagination-list {
  background: white;
  border-radius: 20px;
  border: 1px solid lightgray;

  .pagination-ellipsis {
    margin: 0;
  }

  li {
    .pagination-link {
      border-radius: 50%;
      margin: 0;
      border: none;

      &.is-current {
        background-color: white;
        color: #363636;
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
        font-weight: bold;
      }
    }
  }
}

a.pagination-link {
  border-radius: 50%;
  margin: 0;

  &.pagination-previous {
    margin: 5px;
  }
}

.level {
  justify-content: center !important;
}

.navbar-item {
  &.has-dropdown {
    > a {
      padding-left: 0;

      @media screen and (max-width: 1023px) {
        padding-left: 12px;
      }
    }
  }
}
