@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif !important;
}

.is-width-100 {
  width: 100%;
}

.is-width-90 {
  width: 90%;
}

.is-width-80 {
  width: 80%;
}

.is-width-60 {
  width: 60%;
}

.is-width-50 {
  width: 50%;
}

.is-width-40 {
  width: 40%;
}

.is-width-10 {
  width: 10%;
}

.page {
  height: 100%;
  background-color: #f5f5f5;
}

.card-title {
  font-size: 24px;
  color: #4b4b4b;
}

.purple-default {
  background-color: #1a2e69 !important;
  color: white !important;
}

.red-default {
  background-color: #a10000 !important;
  color: white !important;
}

.gray-default {
  background-color: #e9e9e9;
}

.grid-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-50 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.col-100 {
  display: flex;
  flex-direction: column;
  width: 1000%;
}

.col-25 {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.col-15 {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.col-10 {
  display: flex;
  flex-direction: column;
  width: 10%;
}

.jc-start {
  justify-content: start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.mr-1em {
  margin-right: 1em;
}

.mt-3em {
  margin-top: 3em;
}

.mb-2em {
  margin-bottom: 2em;
}

.mb-1em {
  margin-bottom: 1em;
}

.border-table {
  border: 1px #e9e9e9 solid;
  border-radius: 5px;
}

.p-table {
  padding: 5px;
}

button {
  &.primary-btn {
    width: auto;
    background: linear-gradient(#335bd1, #1a2e69);
    border: none;
    padding: 0px 40px;
    color: white;
  }
}

// color
$blue-system: #1a2e69;
$red-system: #a10003;
$gray-system: #737373;
